{% extends '::base-superviseur.html.twig' %}

{% block main -%}
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
                <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                                <h1>Détails <small>de la demandes</small></h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
                                <!-- BEGIN THEME PANEL -->
                                <div class="btn-group btn-theme-panel">
                                        <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-settings"></i>
                                        </a>
                                        <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                                <div class="row">
                                                        <div class="col-md-12">
                                                                <h3>EXPORTER</h3>
                                                                <div class="row">
                                                                        <div class="col-md-12">
                                                                                <ul class="theme-colors">
                                                                                        <li class="theme-color theme-color-default" data-theme="default">
                                                                                                <span class="theme-color-view"></span>
                                                                                                <span class="theme-color-name">Excel</span>
                                                                                        </li>
                                                                                        <li class="theme-color theme-color-blue-hoki" data-theme="blue-hoki">
                                                                                                <span class="theme-color-view"></span>
                                                                                                <span class="theme-color-name">Json</span>
                                                                                        </li>
                                                                                        <li class="theme-color theme-color-blue-steel" data-theme="blue-steel">
                                                                                                <span class="theme-color-view"></span>
                                                                                                <span class="theme-color-name">Word</span>
                                                                                        </li>
                                                                                        <li class="theme-color theme-color-yellow-orange" data-theme="yellow-orange">
                                                                                                <span class="theme-color-view"></span>
                                                                                                <span class="theme-color-name">PDF</span>
                                                                                        </li>
                                                                                        <li class="theme-color theme-color-yellow-crusta" data-theme="yellow-crusta">
                                                                                                <span class="theme-color-view"></span>
                                                                                                <span class="theme-color-name">Xml</span>
                                                                                        </li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <!-- END THEME PANEL -->
                        </div>
                        <!-- END PAGE TOOLBAR -->
                </div>
        </div>
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
                <div class="container">
                        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                        <h4 class="modal-title">Confirmation du refus</h4>
                                                </div>
                                                <div class="modal-body">
												  <section class="panel panel-default">
														 <section class="scrollable wrapper" >
															 {{ form_start(form2, {'attr': {'data-validate' : 'parsley'}}) }}
															<div class="form-group">
																<div class="alert alert-info">
																	{#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
																	<i class="fa fa-info-sign"></i><strong>Attention ! </strong> Voulez-vous vraiment <strong>REFUSER</strong> la demande formulée par <strong>{{salarie.civilite}}
																	{{salarie.nomprenom}}</strong> !? Si oui laissez un commentaire avant la validation du REFUS
																  </div>
																{#<label></label>#}
																{{ form_label(form2.raisonRefus, "Raisons du Refus") }}
																{{ form_widget(form2.raisonRefus, {'attr': {'class': 'form-control', 'rows': '6', 'data-minwords': '6' , 'placeholder': 'Saisissez un commentaire'}}) }}
																{#<textarea class="form-control" rows="6" data-minwords="6" required data-required="true" placeholder="Saisissez un commentaire"></textarea>#}                                        
															</div>   
														</section> 
												   </section> 
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success btn-s-xs" style="margin-right: 10px;">Confirmer</button> 
                                                        <button type="button" class="btn default" data-dismiss="modal">retour</button>
														{{ form_end(form2) }}
                                                </div>
                                        </div>
                                        <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                        <!-- BEGIN PAGE BREADCRUMB -->
                        <ul class="page-breadcrumb breadcrumb">
                        <li>
                                <a href="{{ path('welcome') }}">Tableau de bord</a><i class="fa fa-circle"></i>
                        </li>
                        <li>
                                <a href="{{ path('collaborateurs_demandes') }}">Demandes à valider</a>
                                <i class="fa fa-circle"></i>
                        </li>
                        <li class="active">
                                Détail demandes
                        </li>
                      </ul>
                        <!-- END PAGE BREADCRUMB -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="portlet light">
                                <div class="portlet-body">
                                        <div class="invoice">
                                                <div class="row invoice-logo">
                                                        <div class="col-xs-6 invoice-logo-space">
                                                                <img src="{{ asset('bundles/kbhgestionconges/assets/admin/pages/media/invoice/CNPS-logo.png') }}" class="img-responsive" alt=""/>
                                                        </div>
                                                        <div class="col-xs-6">
                                                                <p  style="float:right;">
                                                                    Demande N° : <b/>{{ entity.id }}</b> / Le <b>{{ entity.dateDemande|date('d-m-Y H:i:s') }}</b>
                                                                </p>
                                                        </div>
                                                </div>
                                                <hr/>
                                                <div class="row">
                                                        <div class="col-xs-6">
                                                                <h3>Information Salarié:</h3>
                                                                <ul class="list-unstyled">
                                                                        <li>
                                                                        Nom & Prénoms : <strong>{{salarie.nomprenom}}</strong>
                                                                        </li>
                                                                        <li>
                                                                        Unité : <strong>{{ salarie.unite }}</strong><br>
                                                                        </li>
                                                                        <li>
                                                                        Poste :<strong>{{ salarie.poste }}</strong>
                                                                        </li>
                                                                        <li>
                                                                        Téléphone: <strong>{{ salarie.telephone }}</strong>
                                                                        </li>
                                                                        <li>
                                                                        Email: <strong>{{ salarie.email }}</strong>
                                                                        </li>
                                                                        <li>
                                                                        <p>Matricule CNPS : <strong>{{ salarie.numeroCnps }}</strong>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                    <hr/>
                                                        <div class="col-xs-12">
              <p class="m-t m-b">Objet : <strong> {% if entity.typeDemande == 'Conge' %}Demande de Congé{% endif %}  {% if entity.typeDemande == 'Permission' %}Demande d'Absence{% endif %}</strong><br>
              </p>
              <p style="text-align: justify;">Madame, Monsieur,<br/>
                  En tant que salarié dans votre entreprise depuis le <strong>{{ salarie.dateEmbauche|date('d-m-Y')  }}</strong>, j’ai acquis pour l’année de référence <strong>{{ entity.dateDemande|date('Y') }}</strong>, <strong>
                  {% if entity.estValide == 1 %}{% set nbConge = droit.totalDroitsAprendre + entity.nbjoursOuvrables %}{{ nbConge }}{% endif %}
                  {% if entity.estEnCours == 1 or entity.estRefuse == 1 %}{{ droit.totalDroitsAprendre }}{% endif %}</strong> jours ouvrables de congés. 
              <br/><br/>    
              C'est pourquoi j'ai l'honneur de solliciter, au titre des congés payés, une absence du <strong>{{ entity.dateDebut|date('d-m-Y') }}</strong> au <strong>{{ entity.dateFin|date('d-m-Y') }}</strong> inclus, soit <strong>{{ entity.nbjoursOuvrables }}</strong> jours ouvrables de congés. 
              <br/><br/>
               En espérant que vous réserverez une suite favorable à cette demande, je vous serais reconnaissant de bien vouloir m'informer par écrit de votre accord.
               <br/><br/>
               Avec mes remerciements, je vous prie d’agréer, Madame, Monsieur, mes sincères salutations.
               <br/>

                <strong style="float:right;">{{salarie.nomprenom}}</strong><br/>
                <hr/><br/>
                {% if salarie.nomprenom == entity.valideurEnCours.nomprenom and entity.estEnCours == 1 %}
                {{ form_start(form1, {'attr': {'data-validate' : 'parsley'}}) }}
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success btn-s-xs">Accepter</button>
                        <a href="#portlet-config"  data-toggle="modal" class="btn btn-danger btn-s-xs">Refuser</a>
                      </footer>
                {{ form_end(form1) }}
                {% endif %}
                                                        </div>
                                                </div>
                                               <div class="row">
                                                    {% if entity.estValideNiveau1 %}
                                                        <div class="col-md-4">
                                                                <div class="well">
                                                                        <address>
                                                                         <strong class="text-success">PREMIERE VALIDATION </strong><br/>
                                                                        le  {{ entity.dateValidation1|date('d-m-Y H:i:s') }}<br/>
                                                                        Par: {{ entity.valideurNiveau1  }}<br/>
                                                                        <address>
                                                                        <strong>Unite: {{ entity.valideurNiveau1.poste  }}</strong><br/>
                                                                        <a href="mailto:#">
                                                                       {{ entity.valideurNiveau1.email  }}</a>
                                                                        </address>
                                                                </div>
                                                        </div>
                                                        {% endif %}
                                                        {% if entity.estValideNiveau2 %}
                                                        <div class="col-md-4">
                                                                <div class="well">
                                                                        <address>
                                                                         <strong class="text-success">DEUXIEME VALIDATION </strong><br/>
                                                                        le  {{ entity.dateValidation2|date('d-m-Y H:i:s') }}<br/>
                                                                        Par: {{ entity.valideurNiveau2  }}<br/>
                                                                        <address>
                                                                        <strong>Unite: {{ entity.valideurNiveau2.poste  }}</strong><br/>
                                                                        <a href="mailto:#">
                                                                       {{ entity.valideurNiveau2.email  }}</a>
                                                                        </address>
                                                                </div>
                                                        </div>
                                                        {% endif %}
                                                        {% if entity.estValide %}
                                                        <div class="col-md-4">
                                                                <div class="well">
                                                                        <address>
                                                                         <strong class="text-success">DERNIERE VALIDATION </strong><br/>
                                                                         <strong class="text-success">Demande cloturée</strong><br/>
                                                                        le  {{ entity.dateValidation|date('d-m-Y H:i:s') }}<br/>
                                                                        Par: {{ entity.valideurFinal  }}<br/>
                                                                        <address>
                                                                        <strong>Unite: {{ entity.valideurFinal.poste  }}</strong><br/>
                                                                        <a href="mailto:#">
                                                                       {{ entity.valideurFinal.email  }}</a>
                                                                        </address>
                                                                </div>
                                                        </div>
                                                        {% endif %}
                                                       {% if entity.estRefuse %} 
                                                        <div class="col-md-4 invoice-block">
                                                              <div class="well">
                                                                <ul class="list-unstyled amounts">
                                                                        <li>
                                                                                <strong class="text-danger">DEMANDE REFUSEE </strong>
                                                                        </li>
                                                                        <li>
                                                                                <strong class="text-danger">Demande cloturée </strong>
                                                                        </li>
                                                                        <li>
                                                                                <strong>Le</strong> {{ entity.dateRefus|date('d-m-Y H:i:s') }}
                                                                        </li>
                                                                        <li>
                                                                                <strong>Par:</strong> {{ entity.refusePar }}
                                                                        </li>
                                                                        <li>
                                                                                <strong>Email:</strong> {{ entity.refusePar.email }}
                                                                        </li>
                                                                        <li>
                                                                                <strong>Motif Refus:</strong> {{ entity.raisonRefus }}  
                                                                        </li>
                                                                </ul>
                                                                <br/>
                                                               {# <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                                                                Print <i class="fa fa-print"></i>
                                                                </a>#}
                                                          </div>
                                                       </div>
                                                       {% endif %}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                </div>
        </div>
        <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<style>
    .theme-panel {
  z-index: 999;
  min-width: 180px;
  padding: 20px 10px;
  font-family: "Open Sans", sans-serif;
}
</style>
{% endblock %}
