{% extends "::base-anonymous.html.twig" %}
{% block title %}IMA | Connexion{% endblock %}
    {% block main %}
     <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<div class="logo">
            <a href="{{ path('welcome') }}">
{#                <img style="margin-top: -6px !important;position: relative;" src="{{ asset('bundles/kbhgestionconges/images/logo.png')}}"/>#}
{#                <span class="caption-subject uppercase" style="font-size: 28px; color: white">IMA</span> #}
            </a>
</div>
<!-- BEGIN LOGIN -->
<div class="content">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
               <h4 class="form-title"> 
                <img style="margin-top: -6px !important;position: relative;" src="{{ asset('bundles/kbhgestionconges/images/logo.png')}}"/>{{ 'Déconnectez-vous'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                 <i class="icon-logout"></i> {{ 'cliquez ici'|trans({}, 'FOSUserBundle') }} 
                </a>
               </h4>  
            {% else %}
                <h4 class="form-title"> 
                    <img style="margin-top: -6px !important;position: relative;" src="{{ asset('bundles/kbhgestionconges/images/logo.png')}}"/> Espace | 
                    <a href="{{ path('fos_user_security_login') }}" style="text-decoration:inherit;">
                       {{ 'connexion '|trans({}, 'FOSUserBundle') }} <i class="icon-login"></i>
                    </a>
                </h4>    
            {% endif %}
             
       

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
               {# <!--<div class="flash-{{ type }}" style="padding-bottom: 10px;">
                    {{ message }}
                </div>-->#}
                <div class="alert alert-success" style="font-size: 14px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-chevron-circle-down"></i><strong> Félicitation!</strong> Modification Effectuée avec <a href="#" class="alert-link">Succès</a>.
                  </div>
            {% endfor %}
        {% endfor %}

    
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        
    {% endblock %}
