{% extends '::base-admin.html.twig' %}

{% block main %}
{#    <h1>Salarie creation</h1>
    {{ form(form) }}#}
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content" style="min-height: 800px">
        <div class="container">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Aide ?</h4>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('welcome') }}">Tableau de board</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{{ path('ad_salarie_show', {'id': salarie.id }) }}">Détails salarie</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Ajouter un nouveau role
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered form-fit">
                        <div class="portlet-title">
                                <div class="caption">
                                        <i class="icon-user font-blue-hoki"></i>
                                        <span class="caption-subject font-blue-hoki bold uppercase">Modification</span>
                                        <span class="caption-helper">des accès du salarié</span>
                                </div>
                                {#<div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="#portlet-config" data-toggle="modal" title="Besoin d'aide ?">
                                        <i class="icon-info"></i>
                                        </a>
                                </div>#}
                        </div>
                        <div class="portlet-body form">
                {% if erreur %}
                    <div class="note note-danger">
                        <h4 class="block">{{ erreur }}</h4>
                        <p>Une érreur c'est produite lors de la modification des paramètres du salarié. Veulliez revérifier tous les champs</p>
                    </div>
                    {% endif %}
                <!-- BEGIN FORM-->
                    <form class="form-horizontal form-bordered form-label-stripped" action="{{ path('ad_salarie_add_role', {'id' : entity.id})}}" method="POST" >
                    <div class="form-body">
                                <div class="form-group">
                                        <label class="control-label col-md-3">Nouveau role</label>
                                        <div class="col-md-8">
{#                                            <input class="form-control" name="role" type="text" />#}
                                            <select name="role" id="role" data-required="true" class="form-control">
                                                <option  value="">Choisissez un role</option>
                                                <option name="role_sup" id="role_sup" value="ROLE_SUPERVISEUR">ROLE_SUPERVISEUR</option>
                                                <option name="role_sal" id="role_sal" value="ROLE_SALARIE">ROLE_SALARIE</option> 
                                                <option name="role_top_man" id="role_top_man" value="ROLE_TOP_MANAGER">ROLE_TOP_MANAGER</option>
                                               </select>
                                        </div>
                                </div>        
                        </div>
                        <div class="form-actions" style="background: rgba(249, 249, 249, 0.8) none repeat scroll 0% 0%;">
                                <div class="row">
                                        <div class="col-md-offset-3 col-md-3 pull-right">
                                      <a href="{{ path('ad_salarie_show', {'id': salarie.id }) }}" class="btn red">Annuler</a>
                                      <input type="submit" class="btn green" value="Ajouter"/>
                                        </div>
                                </div>
                        </div> 
                        </form>
                                    <!-- END FORM-->
                            </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- BEGIN PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT -->
    <style>

        body{
            font-size: 14px;
        }
        .font-blue-madison {
            color: rgba(34, 96, 150, 0.88) !important;
        }
        .b-r{
            border-right: 1px solid rgb(187, 188, 200);
        }
        .p-c{
            text-align: center;
        }
        .scroll-to-top{
            display: none !important;
        }

    </style>
    <script>
{#$("document").ready( function() {
    //RECUPERATION DU SALARIE AU CLICK
    $("#carriereapp_carriereappbundle_demande_demandeur").val("{{ demande.demandeur.id }}");
    $("#carriereapp_carriereappbundle_demande_motif").val("{{ demande.motif }}");
    console.log("nom : "+$("#carriereapp_carriereappbundle_demande_demandeur").val()+" okey!!!");
    console.log("nom : "+$("#carriereapp_carriereappbundle_demande_motif").val()+" okey!!!");
});#}
    </script>
{% endblock %}
