{% extends '::base-super-admin.html.twig' %}

{% block main %}
    {#    <h1>Salarie creation</h1>
        {{ form(form) }}#}
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content" style="min-height: 800px">
        <div class="container">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Aide ?</h4>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('welcome') }}">Tableau de board</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Systeme</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Entreprise création
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered form-fit">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-user font-blue-hoki"></i>
                                <span class="caption-subject font-blue-hoki bold uppercase">Entreprise</span>
                                <span class="caption-helper">Création</span>
                            </div>
                            {#<div class="actions">
                                    <a class="btn btn-circle btn-icon-only btn-default" href="#portlet-config" data-toggle="modal" title="Besoin d'aide ?">
                                    <i class="icon-info"></i>
                                    </a>
                            </div>#}
                        </div>
                        <div class="portlet-body form">
                            {% if erreur %}
                                <div class="note note-danger">
                                    <h4 class="block">{{ erreur }}</h4>
                                    <p>Une érreur c'est produite lors de la modification du mot de passe du salarié. Veulliez revérifier tous les champs</p>
                                </div>
                            {% endif %}
                            <!-- BEGIN FORM-->

                            </form>
                            <form class="form-horizontal form-bordered form-label-stripped" action="{{ path('ad_entreprise_create')}}" method="POST" {{ form_enctype(form) }}>
                                <div class="form-body">
                                    <div class="form-group last">
                                        <label class="control-label col-md-3">Logo de l'entreprise</label>
                                        <div class="col-md-8">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                    {% if entity.logo %} <img src="{{ asset('uploads/' ~ entity.logo.path) }}" class="img-responsive" alt="">{% endif %}
                                                    {% if not entity.logo %} <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="img-responsive" alt="">{% endif %}
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                                </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new">
                                                            Choisir une image </span>
                                                        <span class="fileinput-exists">
                                                            Changer </span>
                                                            {{ form_widget(form.logo.file) }}
                                                    </span>
                                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                        Supprimer </a>
                                                </div>
                                            </div>
                                            <div class="clearfix margin-top-10">
                                                <span class="label label-danger" style="margin-right:8px;">
                                                    NOTE! 
                                                </span> Pour un meilleur rendu veuillez insérer une belle image.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">titre logo</label>
                                        <div class="col-md-8">
                                            {{ form_widget(form.logo.name,{'attr': {'class':'form-control', 'placeholder':"Saisissez un titre "}}) }}
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>       
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nom entreprise</label>
                                        <div class="col-md-8">
                                            {{ form_widget(form.nom,{'attr': {'class':'form-control', 'placeholder':"Saisissez un nom"}}) }}
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nombre employés</label>
                                        <div class="col-md-8">
                                            {{ form_widget(form.nbSalaries,{'attr': {'class':'form-control', 'placeholder':"Saisissez un nombre"}}) }}
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Date implémentation</label>
                                        <div class="col-md-8">
                                            {{ form_widget(form.dateImplementation,{'attr': {'class':'form-control', 'placeholder':"Saisissez une date"}}) }}
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Date livraison</label>
                                        <div class="col-md-8">
                                            {{ form_widget(form.dateLivraison,{'attr': {'class':'form-control', 'placeholder':"Saisissez une date"}}) }}
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>        
                                </div>
                                <div class="form-actions" style="background: rgba(249, 249, 249, 0.8) none repeat scroll 0% 0%;">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-3 pull-right">
                                            {# <a href="{{ path('ad_salarie_show', {'id': salarie.id }) }}" class="btn red">Annuler</a>#}
                                            <input type="submit" class="btn green" value="Soumettre"/>
                                        </div>
                                    </div>
                                </div>
                                {{ form_rest(form) }}  
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- BEGIN PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT -->
    <style>

        body{
            font-size: 14px;
        }
        .font-blue-madison {
            color: rgba(34, 96, 150, 0.88) !important;
        }
        .b-r{
            border-right: 1px solid rgb(187, 188, 200);
        }
        .p-c{
            text-align: center;
        }
        .scroll-to-top{
            display: none !important;
        }

    </style>
    <script>
        {#$("document").ready( function() {
            //RECUPERATION DU SALARIE AU CLICK
            $("#carriereapp_carriereappbundle_demande_demandeur").val("{{ demande.demandeur.id }}");
            $("#carriereapp_carriereappbundle_demande_motif").val("{{ demande.motif }}");
            console.log("nom : "+$("#carriereapp_carriereappbundle_demande_demandeur").val()+" okey!!!");
            console.log("nom : "+$("#carriereapp_carriereappbundle_demande_motif").val()+" okey!!!");
        });#}
    </script>
{% endblock %}
