{% extends '::base.html.twig' %}

{% block main %}
    <h1>Absence</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nbjoursouvrables</th>
                <td>{{ entity.nbJoursOuvrables }}</td>
            </tr>
            
            <tr>
                <th>Commentairessuperviseur</th>
                <td>{{ entity.commentairesSuperviseur }}</td>
            </tr>
            <tr>
                <th>Estencours</th>
                <td>{{ entity.estEncours }}</td>
            </tr>
            <tr>
                <th>Estvalide</th>
                <td>{{ entity.estValide }}</td>
            </tr>
            <tr>
                <th>Datevalidation</th>
                <td><td>{% if entity.dateValidation %}{{ entity.dateValidation|date('Y-m-d H:i:s') }}{% endif %}</td></td>
            </tr>
            <tr>
                <th>Estcloture</th>
                <td>{{ entity.estCloture }}</td>
            </tr>
            <tr>
                <th>Datecloture</th>
                <td>{% if entity.dateCloture %}{{ entity.dateCloture|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedemande</th>
                <td>{{ entity.dateDemande|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('absences') }}">
            Back to the list
        </a>
    </li>
    
</ul>
{% endblock %}
