{% extends '::base-admin.html.twig' %}

{% block main %}
    {#    <h1>Salarie creation</h1>
        {{ form(form) }}#}
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content" style="min-height: 800px">
        <div class="container">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Aide ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                            
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('welcome') }}">Tableau de board</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{{ path('ad_organigrammeunite') }}">Organigramme unité</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Modification de l'unité
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered form-fit">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-puzzle font-blue-hoki"></i>
                                <span class="caption-subject font-blue-hoki bold uppercase">Modifier</span>
                                <span class="caption-helper">unité</span>
                            </div>
                            {#<div class="actions">
                             <a class="btn btn-circle btn-icon-only btn-default" href="#portlet-config" data-toggle="modal" title="Besoin d'aide ?">
                             <i class="icon-info"></i>
                             </a>
                            </div>#}
                        </div>
                        <div class="portlet-body form">
                            {% if erreur %}
                                <div class="note note-danger">
                                    <h4 class="block">{{ erreur }}</h4>
                                    <p>Une érreur c'est produite lors de la modification du salarié. Veulliez revérifier tous les champs</p>
                                </div>
                            {% endif %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form,{'attr': {'class':'form-horizontal form-bordered form-label-stripped'}}) }}  
                            {#<form class="form-horizontal form-bordered form-label-stripped" action="{{ path('admin_salarie_create')}}" method="POST">#}
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">nom</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.nom,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Sigle</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.sigle,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Manager</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.manager,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                            <div style="display:none;">        
                                
                                 <div class="form-group">
                                    <label class="control-label col-md-3">Situation géographique</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.situationGeographique,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Lieu de travail</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.lieuTravail,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>          
                                <div class="form-group">
                                    <label class="control-label col-md-3">Unite suivante 1</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.uniteSuivante1,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Unite suivante 2</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.uniteSuivante2,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Unite suivante 3</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.uniteSuivante3,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est service</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.estService,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est cellule</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.estCellule,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est departement</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.estDepartement,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est direction</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.estDirection,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est dga</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.estDga,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est dg</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.estDg,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est drh</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.estDrh,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Valideur unité 1</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.valideurPourManager1,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Valideur unité 2</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.valideurPourManager2,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Valideur unité 3</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.valideurPourManager3,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Niveaux de validation</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.nbNiveauxValidation,{'attr': {'class':'form-control'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Liste des salariés de l'unité</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.salaries,{'attr': {'class':'form-control', 'style':'height:212px;'}}) }}
                                        <span class="help-block">
                                        </span>
                                    </div>
                                </div>
                                        
                            </div>  
                                        
                            </div>
                            <div class="form-actions" style="background: rgba(249, 249, 249, 0.8) none repeat scroll 0% 0%;">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-3 pull-right">
                                        <a href="{{ path('ad_organigrammeunite')}}" class="btn red">Annuler</a>
                                        <input type="submit" class="btn green" value="Mettre à jour"/>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}  
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- BEGIN PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT -->
    <style>

        body{
            font-size: 14px;
        }
        .font-blue-madison {
            color: rgba(34, 96, 150, 0.88) !important;
        }
        .b-r{
            border-right: 1px solid rgb(187, 188, 200);
        }
        .p-c{
            text-align: center;
        }
        .scroll-to-top{
            display: none !important;
        }

    </style>
    <script>
        {#$("document").ready( function() {
            //RECUPERATION DU SALARIE AU CLICK
            $("#carriereapp_carriereappbundle_demande_demandeur").val("{{ demande.demandeur.id }}");
            $("#carriereapp_carriereappbundle_demande_motif").val("{{ demande.motif }}");
            console.log("nom : "+$("#carriereapp_carriereappbundle_demande_demandeur").val()+" okey!!!");
            console.log("nom : "+$("#carriereapp_carriereappbundle_demande_motif").val()+" okey!!!");
        });#}
    </script>
{% endblock %}

