{% extends '::base-superviseur.html.twig' %}

{% block main %}
    <div class="page-container">
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Demandes <small> Traitées</small></h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>        
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content" style="min-height: 800px">
            <div class="container">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE BREADCRUMB -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="{{ path('welcome') }}">Tableau de bord</a><i class="fa fa-circle"></i>
                    </li>
                    <li class="active">
                        Demandes Traitées
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMB -->
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light" style="height:700px">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-note font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">Demandes Traitées</span>
                                </div>
                                {#<div class="tools">
                                    <a href="javascript:;" class="collapse">
                                    </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config">
                                    </a>
                                </div>#}
                            </div>
                            <div class="portlet-body">
                                <div class="table-scrollable table-scrollable-borderless">
                                {#    {% if salarie.poste == "Directeur des Ressources Humaines" %}
                                        <ul class="nav nav-pills">
                                            <li class="active">
                                                <a href="#tab_1" data-toggle="tab">
                                                    Demandes Traitées</a>
                                            </li>
                                            <li>
                                                <a href="#tab_2" data-toggle="tab">
                                                    Historique Demandes validées </a>
                                            </li>
                                            <li>
                                                <a href="#tab_3" data-toggle="tab">
                                                    Historique Demandes Refusées </a>
                                            </li>
                                        </ul>
                                    {% endif %}<br/>#}
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab_1">
                                            <div class="scroller" style="height:540px"> 
                                                <div class="table-scrollable table-scrollable-borderless">												 
                                                    <table class="table table-hover table-light" >
                                                        <thead>
                                                            <tr>
                                                                <th>Nom & prénom(s)</th>
                                                                <th>Type demande</th>
                                                                <th>Date demande</th>
                                                                <th>Date début</th>
                                                                <th>Date fin</th>
                                                                <th>Durée</th>
                                                                <th>Statut</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        {% for traitees in traitees %}
                                                            {% if traitees.valideurEnCours != salarie or traitees.estValideNiveau1 == 1 or traitees.estValideNiveau2 == 1 or traitees.estValide == 0 or traitees.estRefuse == 1 %}
                                                                <tr>

                                                                    <td >{{ traitees.salarie }}</td>
                                                                    <td >{% if traitees.typeDemande == "Conge" %}Congé{% endif %}{% if traitees.typeDemande != "Conge" %}{{ traitees.typeDemande }}{% endif %}</td>
                                                                    <td>{% if traitees.dateDemande %}{{ traitees.dateDemande|date('d-m-Y H:i:s') }}{% endif %}</td>
                                                                    <td>{% if traitees.dateDebut %}{{ traitees.dateDebut|date('d-m-Y') }}{% endif %}</td>
                                                                    <td>{% if traitees.dateFin %}{{ traitees.dateFin|date('d-m-Y') }}{% endif %}</td>
                                                                    <td>{{ traitees.nbjoursOuvrables }} j</td>
                                                                    <td>
                                                                        {% if traitees.estEnCours %}<i class="btn btn-circle btn-warning btn-sm">en cours</i><br/>{% endif %}
                                                                        {% if traitees.estValide %}<i class="btn btn-circle btn-success btn-sm">validée</i><br/>{% endif %}
                                                                        {% if traitees.estRefuse %}<i class="btn btn-circle btn-danger btn-sm">rejetée</i><br/>{% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{ path('superviseur_demande_show_2', { 'id': traitees.id }) }}"  class="btn btn-circle btn-primary btn-sm">Voir Détail</a>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </table>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_2">
                                            <div class="scroller" style="height:540px">
                                                <div class="table-scrollable table-scrollable-borderless">
                                                    <table class="table table-hover table-light" >
                                                        <thead>
                                                            <tr>
                                                                <th>Nom & prénom(s)</th>
                                                                <th>Type demande</th>
                                                                <th>Date demande</th>
                                                                <th>Date début</th>
                                                                <th>Date fin</th>
                                                                <th>Durée</th>
                                                                <th>Statut</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        {% for valides in valides %}
                                                            <tr>
                                                                <td>{{ valides.salarie }}</td>
                                                                <td>{% if valides.typeDemande == "Conge" %}Congé{% endif %}{% if valides.typeDemande != "Conge" %}{{ valides.typeDemande }}{% endif %}</td>
                                                                <td>{% if valides.dateDemande %}{{ valides.dateDemande|date('d-m-Y H:i:s') }}{% endif %}</td>
                                                                <td>{% if valides.dateDebut %}{{ valides.dateDebut|date('d-m-Y') }}{% endif %}</td>
                                                                <td>{% if valides.dateFin %}{{ valides.dateFin|date('d-m-Y') }}{% endif %}</td>
                                                                <td>{{ valides.nbjoursOuvrables }} j</td>
                                                                <td>
                                                                    {% if valides.estEnCours == 1 %}<i class="btn btn-circle btn-warning btn-sm">En cours</i><br/>{% endif %}
                                                                    {% if valides.estValide == 1 %}<i class="btn btn-circle btn-success btn-sm">Validé</i><br/>{% endif %}
                                                                    {% if valides.estRefuse == 1 %}<i class="btn btn-circle btn-danger btn-sm">Rejetée</i><br/>{% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('superviseur_demande_show_2', { 'id': valides.id }) }}"  class="btn btn-circle btn-primary btn-sm">Voir Détail</a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_3">
                                            <div class="scroller" style="height:540px;"> 
                                                <div class="table-scrollable table-scrollable-borderless">
                                                    <table class="table table-hover table-light" >
                                                        <thead>
                                                            <tr>
                                                                <th>Nom & prénom(s)</th>
                                                                <th>Type demande</th>
                                                                <th>Date demande</th>
                                                                <th>Date début</th>
                                                                <th>Date fin</th>
                                                                <th>Durée</th>
                                                                <th>Statut</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        {% for refuses in refuses %}
                                                            <tr>
                                                                <td>{{ refuses.salarie }}</td>
                                                                <td>{% if refuses.typeDemande == "Conge" %}Congé{% endif %}{% if refuses.typeDemande != "Conge" %}{{ refuses.typeDemande }}{% endif %}</td>
                                                                <td>{% if refuses.dateDemande %}{{ refuses.dateDemande|date('d-m-Y H:i:s') }}{% endif %}</td>
                                                                <td>{% if refuses.dateDebut %}{{ refuses.dateDebut|date('d-m-Y') }}{% endif %}</td>
                                                                <td>{% if refuses.dateFin %}{{ refuses.dateFin|date('d-m-Y') }}{% endif %}</td>
                                                                <td>{{ refuses.nbjoursOuvrables }} j</td>
                                                                <td>
                                                                    {% if refuses.estEnCours == 1 %}<i class="btn btn-circle btn-warning btn-sm">En cours</i><br/>{% endif %}
                                                                    {% if refuses.estValide == 1 %}<i class="btn btn-circle btn-success btn-sm">Validé</i><br/>{% endif %}
                                                                    {% if refuses.estRefuse == 1 %}<i class="btn btn-circle btn-danger btn-sm">Rejetée</i><br/>{% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('superviseur_demande_show_2', { 'id': refuses.id }) }}"  class="btn btn-circle btn-primary btn-sm">Voir Détail</a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTAINER-->
            </div>
            <!-- BEGIN PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTENT -->
        <style>
            th,td{
                text-align: center;
                color:#345F98 !important;
            }
            .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
                color: #fff;
                background-color: #6838A5;
            }
        </style>

    {% endblock %}