{% extends '::base.html.twig' %}

{% block main %}
    <div class="col-lg-8">
        <div class="panel b-a">
          <div class="row m-n">
            <div class="col-md-6 b-b">
              <a href="{{path('sa_droits_salarie', { 'id': salarie.id })}}" class="block padder-v hover">
                <span class="i-s i-s-2x pull-left m-r-sm">
                  <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                  <i class="i i-plus2 i-1x text-white"></i>
                </span>
                <span class="clear">
                <small class="text-muted text-u-c">Congés pris</small>
                  <span class="h3 block m-t-xs text-primary">{{droits.droitsPris}} jours</span>

                </span>
              </a>
            </div>
            <div class="col-md-6 b-b b-r">
              <a href="{{path('sa_droits_salarie', { 'id': salarie.id })}}" class="block padder-v hover">
                <span class="i-s i-s-2x pull-left m-r-sm">
                  <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                  <i class="i i-plus2 i-1x text-white"></i>
                </span>
                <span class="clear">
                <small class="text-muted text-u-c">Jours de congé acquis</small>
                  <span class="h3 block m-t-xs text-primary">{{droits.CumulDroitsAcquis}} jours</span>
                </span>
              </a>
            </div>
            <div class="col-md-6 b-b">
              <a href="{{path('sa_droits_salarie', { 'id': salarie.id })}}" class="block padder-v hover">
                <span class="i-s i-s-2x pull-left m-r-sm">
                  <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                  <i class="i i-plus2 i-1x text-white"></i>
                </span>
                <span class="clear">
                <small class="text-muted text-u-c">Jours de congé disponibles</small>
                  <span class="h3 block m-t-xs text-primary">{{droits.TotalDroitsAprendre}} jours</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">          
        <h1>Demande de congé</h1>
            {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('sa_conges') }}">
                    Retour liste de congés
                </a>
            </li>
        </ul>
      </div>
{% endblock %}
