{% extends '::base-superviseur.html.twig' %}

{% block main %}
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
        <div class="container">

                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                        <h1>Modification<small> donnée</small></h1>
                </div>
        </div>
</div>
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content" style="min-height: 800px">
        <div class="container">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Aide ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                             </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('welcome') }}">Tableau de board</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{{ path('sup_import_show_allocation', {'id' : doc.id}) }}">Liste des données importés</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Modifier donnée
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered form-fit">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-user font-blue-hoki"></i>
											<span class="caption-subject font-blue-hoki bold uppercase">Modifier</span>
											<span class="caption-helper">donnée importé</span>
										</div>
										{#<div class="actions">
											<a class="btn btn-circle btn-icon-only btn-default" href="#portlet-config" data-toggle="modal" title="Besoin d'aide ?">
											<i class="icon-info"></i>
											</a>
										</div>#}
									</div>
									<div class="portlet-body form">
                {% if erreur %}
                    <div class="note note-danger">
                        <h4 class="block">{{ erreur }}</h4>
                        <p>Une érreur c'est produite lors de la modification de la donnée. Veulliez revérifier tous les champs</p>
                    </div>
                    {% endif %}
										<!-- BEGIN FORM-->

										</form>
                    <form class="form-horizontal form-bordered form-label-stripped" action="{{ path('sup_import_allocation_update', {'id' : entity.id, 'id_doc': doc.id})}}" method="POST" >
											<div class="form-body">
												<div class="form-group">
													<label class="control-label col-md-3">Nom & Prénoms</label>
													<div class="col-md-8">
                          {{ form_widget(form.salarie,{'attr': {'class':'form-control', 'placeholder':"Saisissez le nom"}}) }}
														<span class="help-block">
														 </span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Matricule</label>
													<div class="col-md-8">
                        {{ form_widget(form.matricule,{'attr': {'class':'form-control', 'placeholder':"Saisissez le(s) prénom(s)"}}) }}
                        <span class="help-block">
														</span>
													</div>
												</div>
                    <div class="form-group">
													<label class="control-label col-md-3">Salaire mensuel</label>
													<div class="col-md-8">
                        {{ form_widget(form.salaireMensuel,{'attr': {'class':'form-control', 'placeholder':"Saisissez la civilité "}}) }}
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Gratification</label>
													<div class="col-md-8">
                        {{ form_widget(form.gratification,{'attr': {'class':'form-control'}}) }}
                        <span class="help-block text-danger">
                        {{ form_errors(form.gratification) }}</span>
													</div>
												</div>
                    <div class="form-group">
													<label class="control-label col-md-3">Date d'effet</label>
													<div class="col-md-8">
                        {{ form_widget(form.dateEffet,{'attr': {'class':'form-control'}}) }}
                        <span class="help-block text-danger">
                        {{ form_errors(form.dateEffet) }}</span>
													</div>
												</div>
											</div>
											<div class="form-actions" style="background: rgba(249, 249, 249, 0.8) none repeat scroll 0% 0%;">
												<div class="row">
													<div class="col-md-offset-3 col-md-3 pull-right">
                          <a href="{{ path('sup_import_show_allocation', {'id' : doc.id})}}" class="btn red">Annuler</a>
                          <input type="submit" class="btn green" value="Mettre à jour"/>
													</div>
												</div>
											</div>
                   {{ form_rest(form) }}  
										</form>
										<!-- END FORM-->
									</div>
								</div>
                </div>
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- BEGIN PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT -->
    <style>

        body{
            font-size: 14px;
        }
        .font-blue-madison {
            color: rgba(34, 96, 150, 0.88) !important;
        }
        .b-r{
            border-right: 1px solid rgb(187, 188, 200);
        }
        .p-c{
            text-align: center;
        }
        .scroll-to-top{
            display: none !important;
        }

    </style>
    <script>
{#$("document").ready( function() {
    //RECUPERATION DU SALARIE AU CLICK
    $("#carriereapp_carriereappbundle_demande_demandeur").val("{{ demande.demandeur.id }}");
    $("#carriereapp_carriereappbundle_demande_motif").val("{{ demande.motif }}");
    console.log("nom : "+$("#carriereapp_carriereappbundle_demande_demandeur").val()+" okey!!!");
    console.log("nom : "+$("#carriereapp_carriereappbundle_demande_motif").val()+" okey!!!");
});#}
    </script>
{% endblock %}
