{% extends '::base-superviseur.html.twig' %}

{% block main %}
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1> Espace<small> Responsable </small></h1>
            </div>

        </div>
    </div>  
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content" style="min-height: 800px">
        <div class="container">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('welcome') }}">Tableau de bord</a><i class="fa fa-circle"></i>
                </li>
                {#<li>
                        <a href="#">Demandes</a>
                        <i class="fa fa-circle"></i>
                </li>#}
                <li class="active">
                    Historique des évènements
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-note font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp bold uppercase">Historique des évènements</span>
                            </div>
                            <div class="tools">
                                <a href="{{ path('lireNotif') }}" class="btn btn-sm btn-danger" style="height: 28px;">
                                    <i class="fa fa-check-square"></i>
                                    marquer tous comme lu
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab_1">
                                    <div class="scroller">
                                        <table class="table table-hover table-light" >
                                            <thead>
                                            <th>N°</th>
                                            <th>Historique évènements</th>
                                                {#<th width="30%">statut</th>#}
                                            <th>Date de Réception </th>
                                            </thead>
                                            <tbody>
                                                {% set num = 1%}
                                                {% for notification in notifications %}
                                                    {% if notification.salarie == salarie %}   
                                                        <tr>
                                                            <td>{{ num }}</td>
                                                             <td>  <a href="{{ path('superviseur_demande_show',{'id':notification.id}) }}">{{notification.messageDemandeur}}</a> 
                                                                {% if notification.VuParDemandeur == 0 %}<span class="badge badge-danger" style="float: right;">Nouveau</span>{% endif %}</td>
                                                                {#<td>
                                                                   {% if notification.demande.estRefuse == 1 and notification.demande.estEnCours == 0%}<i class="fa fa-times text-danger text"></i> Demande Refusée <br/>{% endif %}
                                                                   {% if notification.demande.estEnCours == 1 and notification.demande.estRefuse == 0%}<i class="fa fa-share text-success text"></i> Demande En Cours<br/>{% endif %} 
                                                                   {% if notification.demande.estValideN2 == 1 and notification.demande.estCloture == 1%}<i class="fa fa-check text-success text"></i> Demande Validée<br/>{% endif %} 
                                                                </td>     #}                   
                                                            <td>{{ notification.dateEnvoi|date('d-m-Y H:i:s') }}</td>
                                                            {% set num = num + 1%} 
                                                        </tr>
                                                    {% endif %}
                                                    {% if notification.valideurPrecedent == salarie %} 
                                                        <tr>
                                                            <td>{{ num }}</td>
                                                            <td>  <a href="{{ path('superviseur_demande_show',{'id':notification.id}) }}">{{notification.messageValideurPrecedent}}</a> 
                                                                {% if notification.VuParValideurPrecedent == 0 %}<span class="badge badge-danger" style="float: right;">Nouveau</span>{% endif %}</td>
                                                                {#<td>
                                                                   {% if notification.demande.estRefuse == 1 and notification.demande.estEnCours == 0%}<i class="fa fa-times text-danger text"></i> Demande Refusée <br/>{% endif %}
                                                                   {% if notification.demande.estEnCours == 1 and notification.demande.estRefuse == 0%}<i class="fa fa-share text-success text"></i> Demande En Cours<br/>{% endif %} 
                                                                   {% if notification.demande.estValideN2 == 1 and notification.demande.estCloture == 1%}<i class="fa fa-check text-success text"></i> Demande Validée<br/>{% endif %} 
                                                                </td>     #}                   
                                                            <td>{{ notification.dateEnvoi|date('d-m-Y H:i:s') }}</td>
                                                            {% set num = num + 1%} 
                                                        </tr>
                                                    {% endif %}
                                                    {% if notification.valideurEnCours == salarie %}   
                                                        <tr>
                                                            <td>{{ num }}</td>
                                                            <td>  <a href="{{ path('superviseur_demande_show',{'id':notification.id}) }}">{{notification.messageValideurEnCours}}</a> 
                                                                {% if notification.VuParValideurEnCours == 0 %}<span class="badge badge-danger" style="float: right;">Nouveau</span>{% endif %}</td>
                                                                {#<td>
                                                                   {% if notification.demande.estRefuse == 1 and notification.demande.estEnCours == 0%}<i class="fa fa-times text-danger text"></i> Demande Refusée <br/>{% endif %}
                                                                   {% if notification.demande.estEnCours == 1 and notification.demande.estRefuse == 0%}<i class="fa fa-share text-success text"></i> Demande En Cours<br/>{% endif %} 
                                                                   {% if notification.demande.estValideN2 == 1 and notification.demande.estCloture == 1%}<i class="fa fa-check text-success text"></i> Demande Validée<br/>{% endif %} 
                                                                </td>     #}                   
                                                            <td>{{ notification.dateEnvoi|date('d-m-Y H:i:s') }}</td>
                                                            {% set num = num + 1%} 
                                                        </tr>
                                                    {% endif %}
                                                    {% if notification.observateur == salarie %}  
                                                        <tr>
                                                            <td>{{ num }}</td>
                                                            <td>  <a href="{{ path('superviseur_demande_show',{'id':notification.id}) }}">{{notification.messageFinal}}</a> 
                                                                {% if notification.VuParObservateur == 0 %}<span class="badge badge-danger" style="float: right;">Nouveau</span>{% endif %}</td>
                                                                {#<td>
                                                                   {% if notification.demande.estRefuse == 1 and notification.demande.estEnCours == 0%}<i class="fa fa-times text-danger text"></i> Demande Refusée <br/>{% endif %}
                                                                   {% if notification.demande.estEnCours == 1 and notification.demande.estRefuse == 0%}<i class="fa fa-share text-success text"></i> Demande En Cours<br/>{% endif %} 
                                                                   {% if notification.demande.estValideN2 == 1 and notification.demande.estCloture == 1%}<i class="fa fa-check text-success text"></i> Demande Validée<br/>{% endif %} 
                                                                </td>     #}                   
                                                            <td>{{ notification.dateEnvoi|date('d-m-Y H:i:s') }}</td>
                                                            {% set num = num + 1%} 
                                                        </tr>
                                                    {% endif %}
                                                    {% if notification.superieurN1 == salarie and notification.observateur != salarie%} 
                                                        <tr>
                                                            <td>{{ num }}</td>
                                                            <td>  <a href="{{ path('superviseur_demande_show',{'id':notification.id}) }}">{{notification.messageFinal}}</a> 
                                                                {% if notification.VuParSupN1 == 0 %}<span class="badge badge-danger" style="float: right;">Nouveau</span>{% endif %}</td>
                                                                {#<td>
                                                                   {% if notification.demande.estRefuse == 1 and notification.demande.estEnCours == 0%}<i class="fa fa-times text-danger text"></i> Demande Refusée <br/>{% endif %}
                                                                   {% if notification.demande.estEnCours == 1 and notification.demande.estRefuse == 0%}<i class="fa fa-share text-success text"></i> Demande En Cours<br/>{% endif %} 
                                                                   {% if notification.demande.estValideN2 == 1 and notification.demande.estCloture == 1%}<i class="fa fa-check text-success text"></i> Demande Validée<br/>{% endif %} 
                                                                </td>     #}                   
                                                            <td>{{ notification.dateEnvoi|date('d-m-Y H:i:s') }}</td>
                                                            {% set num = num + 1%} 
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- BEGIN PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT -->
    <style>
        th,td{
            text-align: left;
        }
    </style>

{% endblock %}
